<!--

<h1>Listing songlists</h1>

<table>
  <tr>
    <th>Sid</th>
    <th>Category</th>
    <th>Label</th>
    <th>Artist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songlists.each do |songlist| %>
  <tr>
    <td><%= songlist.sid %></td>
    <td><%= songlist.category %></td>
    <td><%= songlist.label %></td>
    <td><%= songlist.artist %></td>
    <td><%# link_to 'Show', songlist %></td>
    <td><%# link_to 'Edit', edit_songlist_path(songlist) %></td>
    <td><%# link_to 'Destroy', songlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Songlist', new_songlist_path %>

-->